/* ----- debug ----- */
.front > img {
  display: block;
  height: 140px;
  margin: 20px auto 0;
}
.front > h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #e61986;
}
.back {
    background-size: 170px;
    background-position: left;
    background-image: url(../img/pattern.png);
}
/* ---- /debug ----- */

/* ----- common ----- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #add8e6;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
}
.front {
  background-color: chartreuse;
}

div.card:hover > .front {
  z-index: 1;
}
.always-front {
  z-index: 1;
}

/* ----- header ----- */
h1 {
  font-size: 60px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

/* ----- main ----- */
.container {
  width: 55%;
  margin: 20px auto;
  padding: 5px;
  background-color: tomato;
}
.row {
  margin-top: 5px;
  padding: 5px;
  background-color: darkgray;
}

.card {
  position: relative;
  float: left;
  height: 210px;
  width: 180px;
  margin: 5px;
  overflow: hidden;
  border-radius: 15px;
}

/* ----- footer ----- */
footer > p {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
