/* ----- debug ----- */
/* ---- /debug ----- */

/* ----- common ----- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #add8e6;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
}
div.card:hover > .front {
  z-index: 1;
}
.always-front {
  z-index: 1;
}

/* ----- header ----- */
h1 {
  font-size: 60px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

/* ----- main ----- */
main {
  margin: 10px 0;
}
.container {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
}
/* .row {
  background-color: darkgray;
} */

.card {
  position: relative;
  float: left;
  height: 210px;
  width: 180px;
  margin: 10px;
  overflow: hidden;
  border-radius: 15px;
}
.front > img {
  display: block;
  height: 140px;
  margin: 20px auto 0;
}
.front > h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.back {
  background-size: 170px;
  background-position: left;
  background-image: url(../img/pattern.png);
}

.baloon {
  color: #e61986;
}
.tractor {
  color: #e67919;
}
.bicycle {
  color: #19e680;
}
.ship {
  color: #196be6;
}
.submarine {
  color: #e61923;
}
.tram {
  color: #5a5e5f;
}

/* ----- footer ----- */
footer > p {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
